@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 36px;
}
nav {
  border-bottom: 1px rgb(201, 201, 201) solid;
  padding: .25em 2em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.app-name {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: 'Norican', cursive;
  text-align: left;
}

.loading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 1em;
}

.index-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.show-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.square {
  height: 300px;
  width: 300px;
  border: black solid 1px;
  margin: .25em;
  background-image: url("./images/IMG_7489.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.col-6 {
  padding: .5em;
}

p {
  font-size: .6em;
  padding-bottom: .5em;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: .7em;
  text-align: left;
  padding-bottom: .5em;
}

.filling-empty-space-childs {
  width: 25%;
  height:0;
  flex-grow: 3;
}

button {
  font-size: .45em;
  padding: .2em 1.5em;
  margin: 0 .5em;
  background-color: rgb(250, 250, 250);
  border: rgb(230, 229, 229) 1px solid;
  border-radius: 2px;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  position: relative;
  left: 47%;
  top: 43%;
}

.form-container {
  padding: 1.5em;
}

form {
  padding: .75em .75em 1.25em;
  border: rgb(230, 229, 229) 1px solid;
  border-radius: 2px;
}

label {
  padding-right: .1em;
  width: 55%;
  font-size: .75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.field-wrap {
  display: flex;
  padding: .2em 0;
}
.field-wrap input {
  width: 100%;
  flex-grow: 1;
  font-size: .65em;
  padding: .1em .2em; 
}

.textarea {
  height: 250px;
}

input {
  font-size: .45em;
  padding: .2em 1.5em;
  margin: 0 .5em;
  background-color: rgb(250, 250, 250);
  border: rgb(230, 229, 229) 1px solid;
  border-radius: 2px;
  color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: right;
  margin: .25em
}

.form-button {
  float: right;
  margin: .25em
}