@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 36px;
}
nav {
  border-bottom: 1px rgb(201, 201, 201) solid;
  padding: .25em .75em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Norican', cursive;
  text-align: left;
}

.index-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.show-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.square {
  height: 300px;
  width: 300px;
  border: black solid 1px;
  margin: .25em;
}

.col-6 {
  padding: .5em;
}

p {
  font-size: .75em;
  padding-bottom: .5em;
  text-align: left;
}

h2 {
  font-size: .75em;
  text-align: left;
  padding-bottom: .5em;
}

.filling-empty-space-childs {
  width: 25%;
  height:0;
  flex-grow: 3;
}

button {
  font-size: .5em;
  padding: .2em 1.5em;
  margin: 0 .5em;
}